**/*.log
**/*.test
**/env-*
*.bak
*.cover
*.egg
*.egg-info
*.manifest
*.so
*.test
.bechmarks
.cache
.coverage*
.env
.idea
.pytest_cache
.tmp
.venv
.vscode
/Dockerfile
__pycache__
build
composer.lock
coverage.xml
dist
htmlcov
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
target
vendor
