__pycache__
.bechmarks
.cache
.coverage*
.env
.idea
.pytest_cache
.tmp
.venv
.vscode
*.bak
*.cover
*.egg
*.egg-info
*.manifest
*.so
*.test
**/*.log
**/*.test
**/env-*
/Dockerfile
build
composer.lock
coverage.xml
dist
htmlcov
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
PLAN_*
target
vendor
