exclude .gitignore
exclude .coverage
exclude .coveragerc
include setup.cfg
include README.md
include LICENSE
include farmhash64/farmhash64.h
include farmhash64/pyfarmhash64.h
prune .cache
prune .git
prune build
prune dist
prune htmlcov
recursive-exclude *.egg-info *
recursive-include test *.py
